{% extends 'base.html '%} <!-- Наследование базового шаблона-->

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<form action="/submit" method="post">
    <label>Процент какао:</label>
    <input type="number" name="cocoa_percent" placeholder="70"> %<br><br>

    <label>Компания (производитель):</label>
    <select name="company" id="company-select">
        <option value="">Выберите компанию</option>
    </select><br><br>

    <label>Конкретное происхождение бобов или название плитки:</label>
    <input type="text" name="bean_origin" placeholder="Sur del Lago"><br><br>

    <label>Страна компании:</label>
    <input type="text" name="company_location" placeholder="France"><br><br>

    <label>Тип бобов:</label>
    <input type="text" name="bean_type" placeholder="Criollo"><br><br>

    <label>Широкое происхождение бобов:</label>
    <input type="text" name="broad_bean_origin" placeholder="Venezuela"><br><br>

    <button type="submit">Отправить</button>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</form>
{% endblock %}

